<h2> Search For Products </h2>

<form method="get" action="/products/search-results">
  <label for="term-input"> What are you looking for? </label>
  <input  id="term-input" name="searchTerm" type="search"
      placeholder="hot dogs">

  <button> Search </button>
</form>
