<h2> Add a New Product </h2>

<!-- check to see if we have error messages to display -->
<% if (typeof errorMessages !== 'undefined') { %>
    <!-- if we have error messages, display them -->
    <ul class="error">
        <% for (let fieldName in errorMessages) { %>
            <li> <%= errorMessages[fieldName].message %> </li>
        <% } %>
    </ul>
<% } %>

<!--
  router.post('/products', (req, res, next) => { ... -->

<form method="post" action="/products">

  <label for="product-name-input"> Product Name </label>
  <input  id="product-name-input" name="productName" type="text">
  <br>

  <label for="price-input"> Price </label>
  <input  id="price-input" name="productPrice" type="number" step="0.10">
  <br>

  <label for="image-input"> Image URL </label>
  <input  id="image-input" name="productImageUrl" type="text">
  <br>

  <label   for="description-input"> Description </label>
  <textarea id="description-input" name="productDescription"></textarea>
  <br>

  <button> Save This Product </button>

</form>
