<h2> Product Details </h2>

<h3> <%= productInfo.name %> </h3>

<img src="<%= productInfo.imageUrl %>">

<p>
  Price:
  <b> $<%= productInfo.price %> </b>
</p>

<p> <%= productInfo.description %> </p>
