<h2> All Products </h2>


<ul>
  <% listOfProducts.forEach((oneProduct) => { %>
    <li>
      <h3> <%= oneProduct.name %> </h3>
      <p> $<%= oneProduct.price %> </p>

      <!-- Link using URL params -->
      <a href="/products/<%= oneProduct._id %>">
        Details
      </a>
      <br>

      <a href="/products/<%= oneProduct._id %>/edit">
        Edit
      </a>
      <br>
    </li>
  <% }) %>
</ul>
